#card1{
    background: url(../assets/images/225x315.jpg) 0 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card2{
    background: url(../assets/images/225x315.jpg) -72px 0;
    display:inline-block;
    width: 72px;
    height: 98px;
}

#card3{
    background: url(../assets/images/225x315.jpg) -144px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card4{
    background: url(../assets/images/225x315.jpg) -216px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card5{
    background: url(../assets/images/225x315.jpg) -288px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card6{
    background: url(../assets/images/225x315.jpg) -360px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card7{
    background: url(../assets/images/225x315.jpg) -432px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card8{
    background: url(../assets/images/225x315.jpg) -504px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card9{
    background: url(../assets/images/225x315.jpg) -576px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card10{
    background: url(../assets/images/225x315.jpg) -648px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card11{
    background: url(../assets/images/225x315.jpg) -720px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card12{
    background: url(../assets/images/225x315.jpg) -792px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card13{
    background: url(../assets/images/225x315.jpg) -864px 0;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card14{
    background: url(../assets/images/225x315.jpg) 0px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card15{
    background: url(../assets/images/225x315.jpg) -72px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card16{
    background: url(../assets/images/225x315.jpg) -144px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card17{
    background: url(../assets/images/225x315.jpg) -216px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card18{
    background: url(../assets/images/225x315.jpg) -288px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card19{
    background: url(../assets/images/225x315.jpg) -360px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card20{
    background: url(../assets/images/225x315.jpg) -432px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card21{
    background: url(../assets/images/225x315.jpg) -504px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card22{
    background: url(../assets/images/225x315.jpg) -576px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card23{
    background: url(../assets/images/225x315.jpg) -648px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card24{
    background: url(../assets/images/225x315.jpg) -720px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card25{
    background: url(../assets/images/225x315.jpg) -792px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card26{
    background: url(../assets/images/225x315.jpg) -864px -98px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card27{
    background: url(../assets/images/225x315.jpg) 0px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card28{
    background: url(../assets/images/225x315.jpg) -72px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card29{
    background: url(../assets/images/225x315.jpg) -144px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card30{
    background: url(../assets/images/225x315.jpg) -216px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card31{
    background: url(../assets/images/225x315.jpg) -288px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card32{
    background: url(../assets/images/225x315.jpg) -360px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card33{
    background: url(../assets/images/225x315.jpg) -432px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card34{
    background: url(../assets/images/225x315.jpg) -504px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card35{
    background: url(../assets/images/225x315.jpg) -576px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card36{
    background: url(../assets/images/225x315.jpg) -648px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card37{
    background: url(../assets/images/225x315.jpg) -720px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card38{
    background: url(../assets/images/225x315.jpg) -792px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card39{
    background: url(../assets/images/225x315.jpg) -864px -196px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card40{
    background: url(../assets/images/225x315.jpg) 0px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card41{
    background: url(../assets/images/225x315.jpg) -72px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card42{
    background: url(../assets/images/225x315.jpg) -144px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card43{
    background: url(../assets/images/225x315.jpg) -216px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card44{
    background: url(../assets/images/225x315.jpg) -288px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card45{
    background: url(../assets/images/225x315.jpg) -360px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card46{
    background: url(../assets/images/225x315.jpg) -432px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card47{
    background: url(../assets/images/225x315.jpg) -504px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card48{
    background: url(../assets/images/225x315.jpg) -576px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card49{
    background: url(../assets/images/225x315.jpg) -648px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card50{
    background: url(../assets/images/225x315.jpg) -720px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card51{
    background: url(../assets/images/225x315.jpg) -792px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}

#card52{
    background: url(../assets/images/225x315.jpg) -864px -294px;
    display: inline-block;
    width: 72px;
    height: 98px;
}