@for $i from 1 through 52 {
    $width: ($i - 1) % 13 * 113; // calculate horizontal position
    $height: floor(($i - 1) / 13) * 158; // calculate vertical position
    #card#{$i} {
      background: url("../images/113x158.jpg") -#{$width+0}px -#{$height}px;
      display: inline-block;
      width: 113px;
      height: 158px;
    }
  }