#card1 {
  background: url("../images/225x315.jpg") -0px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card2 {
  background: url("../images/225x315.jpg") -225px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card3 {
  background: url("../images/225x315.jpg") -450px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card4 {
  background: url("../images/225x315.jpg") -675px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card5 {
  background: url("../images/225x315.jpg") -900px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card6 {
  background: url("../images/225x315.jpg") -1125px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card7 {
  background: url("../images/225x315.jpg") -1350px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card8 {
  background: url("../images/225x315.jpg") -1575px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card9 {
  background: url("../images/225x315.jpg") -1800px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card10 {
  background: url("../images/225x315.jpg") -2025px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card11 {
  background: url("../images/225x315.jpg") -2250px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card12 {
  background: url("../images/225x315.jpg") -2475px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card13 {
  background: url("../images/225x315.jpg") -2700px -0px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card14 {
  background: url("../images/225x315.jpg") -0px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card15 {
  background: url("../images/225x315.jpg") -225px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card16 {
  background: url("../images/225x315.jpg") -450px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card17 {
  background: url("../images/225x315.jpg") -675px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card18 {
  background: url("../images/225x315.jpg") -900px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card19 {
  background: url("../images/225x315.jpg") -1125px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card20 {
  background: url("../images/225x315.jpg") -1350px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card21 {
  background: url("../images/225x315.jpg") -1575px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card22 {
  background: url("../images/225x315.jpg") -1800px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card23 {
  background: url("../images/225x315.jpg") -2025px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card24 {
  background: url("../images/225x315.jpg") -2250px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card25 {
  background: url("../images/225x315.jpg") -2475px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card26 {
  background: url("../images/225x315.jpg") -2700px -315px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card27 {
  background: url("../images/225x315.jpg") -0px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card28 {
  background: url("../images/225x315.jpg") -225px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card29 {
  background: url("../images/225x315.jpg") -450px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card30 {
  background: url("../images/225x315.jpg") -675px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card31 {
  background: url("../images/225x315.jpg") -900px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card32 {
  background: url("../images/225x315.jpg") -1125px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card33 {
  background: url("../images/225x315.jpg") -1350px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card34 {
  background: url("../images/225x315.jpg") -1575px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card35 {
  background: url("../images/225x315.jpg") -1800px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card36 {
  background: url("../images/225x315.jpg") -2025px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card37 {
  background: url("../images/225x315.jpg") -2250px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card38 {
  background: url("../images/225x315.jpg") -2475px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card39 {
  background: url("../images/225x315.jpg") -2700px -630px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card40 {
  background: url("../images/225x315.jpg") -0px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card41 {
  background: url("../images/225x315.jpg") -225px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card42 {
  background: url("../images/225x315.jpg") -450px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card43 {
  background: url("../images/225x315.jpg") -675px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card44 {
  background: url("../images/225x315.jpg") -900px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card45 {
  background: url("../images/225x315.jpg") -1125px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card46 {
  background: url("../images/225x315.jpg") -1350px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card47 {
  background: url("../images/225x315.jpg") -1575px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card48 {
  background: url("../images/225x315.jpg") -1800px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card49 {
  background: url("../images/225x315.jpg") -2025px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card50 {
  background: url("../images/225x315.jpg") -2250px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card51 {
  background: url("../images/225x315.jpg") -2475px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}

#card52 {
  background: url("../images/225x315.jpg") -2700px -945px;
  display: inline-block;
  width: 225px;
  height: 315px;
}/*# sourceMappingURL=cardsTest.css.map */