<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->

  <head>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/home.css" />
  </head>

  <body>
    <!-- Navbar (sit on top) -->
<div class="nav">
  <div class="home">
    <p><b>Welcome, <%= username %>, to Gin Rummy!</b></p>
    <div class="links">
      <a href="/login" class="button">Login</a>
      <a href="/register" class="button">Register</a>
      <a href="/rules" class="button">Rules</a>
    </div>
  </div>
</div>

  <div id="chat-container">
      <p id="chat">Chat</p>
      <div id="messages">
      </div>

      <label>
        <input
          id="chat__message"
          name="chat-message"
          placeholder="Type a message..."
        />
      </label>
  </div>
<div class="bigRectangle">
  <div class="innerRectangle">
    <h1>Create Game</h1>
    <form id="create-game" action="newgame" method="post" class="signup-form" onsubmit="startNewGame(event)">
      <label for="roomname"> 
        Room Name:
        <input class="input-field" id="roomname" type="text" name="roomname" />
      </label> 
     <br> <label for="password"> 
        Password:
        <input class="input-field" pass="gamePass" type="password" id="password" name="password" /> 
      </label>         

      </label> 
      <br><input class="submit-btn" type="submit" />
    </form>
</div>
</div>

  </body>
</html>