<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->
  <head>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/home.css" />
    <%- include('header') %>
  </head>
  
  <body>
<div class="bigRectangle">
  <div class="innerRectangle">
    <% if (loggedIn) { %>
    <h1>Welcome, <%= username %> !</h1>
    <div class="gameblock">
      <div class="gamebuttons">
        <a href="/creategame" class="button">CREATE GAME</a>
        <a href="/findgame" class="button">JOIN GAME</a>
        </div>
      </div>
    <%} else {%>
    <h1>Sign in to play!</h1>
    <div class="loginButton"><a href="/login" class="button" id="loginButton">Login</a>  
    <% } %>                                                 </div>
  </div>
</div>
</div>

  </body>


</html>