<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->

  <header>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/home.css" />
    <div class="header-bar">
      <h2><a class="logo" href="/"><b>GIN RUMMY</b></a></h2>
      <% if (loggedIn) { %>
          <div class="header-items"><a href="/logout" class="button">Logout</a></div>
          <div class="header-items"><a href="/rules" class="button">Rules</a></div>
          
        <%} else {%>
          <div class="header-items"><a href="/register" class="button">Register</a></div>
          <div class="header-items"><a href="/login" class="button">Login</a></div>
          <div class="header-items"><a href="/rules" class="button">Rules</a></div>
          <% } %>   
    </div>
  </header>

  <body>
    <!-- Navbar (sit on top) -->
    <% if (loggedIn) { %>
      <div class="chat-area">
        <div class="chat-box">
          <div id="chat-container">
            <p id="chat">Chat</p>
            <div id="messages"></div>
            <label>
              <input
                id="chat__message"
                name="chat-message"
                placeholder="Type a message..."
              />
            </label>
        </div>
      </div>
    </div>
  <%} else {%>
    <div class="not-logged-chat-area">
      <div class="not-logged-chat-box">
        <div id="not-logged-chat-container">
          <p id="chat">Sign in to Chat</p>
          <div id="messages"></div>
      </div>
    </div>
  </div>
    <% } %>   
<div class="bigRectangle">
  <div class="innerRectangle">
    <% if (loggedIn) { %>
    <h1>Welcome, <%= username %> !</h1>
    <div class="gameblock">
      <div class="gamebuttons">
        <a href="/creategame" class="button">CREATE GAME</a>
        <a href="/findgame" class="button">JOIN GAME</a>
        </div>
      </div>
    <%} else {%>
    <h1>Sign in to play!</h1>
    <div class="loginButton"><a href="/login" class="button" id="loginButton">Login</a>  
    <% } %>                                                 </div>
  </div>
</div>
</div>

  </body>


</html>