@font-face {
  font-family: Inter;
  src: url("./frontend/assets/static/Inter-Regular.ttf");
}

.nav {
}

.button {
  width: 228px;
  height: 50px;
  padding: 0.5rem 2.5rem;
  font-weight: 600;
  color: #ffffff;
  background: #666666;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 75px;
}

.home {
}

.links {
}

.gameblock {
}

.newgame {
}

.chat-container {
}

.messages {
}

.chat__message {
}

.bigRectangle {
  position: absolute;
  top: 50%;
  width: 1224px;
  height: 585px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  background: url(/images/cardfall.png);
}

.innerRectangle {
  width: 744px;
  height: 349px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

h1 {
    text-align: center;
    width: 50%;
    margin: auto;

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #272626;
}
