<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--npm install socket.io-client-->

  <head>
    <title><%= title %></title>
    <script type="module" src="/scripts/bundle.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/home.css" />
    <%- include('header') %>
  </head>

  <body>
<div class="gameblock">
  <div class="gamebuttons">
    <a href="/creategame" class="button">NEW GAME</a>
    <a href="/joingame" class="button">JOIN GAME</a>
    </div>
  </div>
  <div id="chat-container">
      <p id="chat">Chat</p>
      <div id="messages">
      </div>

      <label>
        <input
          id="chat__message"
          name="chat-message"
          placeholder="Type a message..."
        />
      </label>
  </div>
<div class="bigRectangle">
  <div class="innerRectangle">
    <h1>Join Game</h1>
    <form id="join-game" action="/joinGame" method="post">
          <label for="RoomName">Room Name:</label>
         <br> <input type="submit" value="Submit" />
        </form>
</div>
</div>

  </body>
</html>